
<div class="text-container">
  <h1><span class="first">Gary</span> <span class="last">Saunders</span></h1>
</div>


<div class="music-container">
  <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [title]="msbapTitle" [autoPlay]="false" muted="muted"
  [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="true"></mat-basic-audio-player>
</div> 

<div class="crazy">

</div>

<!-- <svg id="crazy-bg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1366px" height="768px" viewBox="0 0 1366 768" enable-background="new 0 0 1366 768" xml:space="preserve">
<path fill="currentColor" d="M209.7,768c-40.8-53,26.6-109,139.8-138c85.5-21.9,232.7,12,290.2-69c72.5-102,23.5-213.4-28-286
	c-144-203,324-275,324-275H0v768"/>
</svg> -->