@import '~@angular/material/theming';
@include mat-core();


$dark-primary-text: rgba(#3b3b3b, 0.87);
$dark-secondary-text: rgba(#3b3b3b, 0.54);
$dark-disabled-text: rgba(#3b3b3b, 0.38);
$dark-dividers: rgba(#3b3b3b, 0.12);
$dark-focused: rgba(#3b3b3b, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);


$mat-g-purple: (
    50 : #e6e2e7,
    100 : #c2b7c4,
    200 : #99879d,
    300 : #705676,
    400 : #513258,
    500 : #320e3b,
    600 : #2d0c35,
    700 : #260a2d,
    800 : #1f0826,
    900 : #130419,
    A100 : #cb58ff,
    A200 : #bc25ff,
    A400 : #a700f1,
    A700 : #9500d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$mat-g-orange: (
    50 : #fef5e6,
    100 : #fce7c0,
    200 : #fbd796,
    300 : #f9c66c,
    400 : #f7ba4d,
    500 : #f6ae2d,
    600 : #f5a728,
    700 : #f39d22,
    800 : #f2941c,
    900 : #ef8411,
    A100 : #ffffff,
    A200 : #fff4e9,
    A400 : #ffd9b6,
    A700 : #ffcc9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);








$g-primary: mat-palette($mat-g-purple);
$g-accent: mat-palette($mat-g-orange);
$g-warn: mat-palette($mat-red);

$g-theme: mat-light-theme(
    $g-primary, $g-accent, $g-warn
);


@include angular-material-theme($g-theme);

